<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <ul>
            <li><a href="">اتصل بنا </a></li>
            <li><a href="">المعرض</a></li>
            <li><a href="">نبذه</a></li>
            <li><a href="">التاريخ</a></li>
            <li><a href="">الصفحه الرئيسيه</a></li>
        </ul>
    </div>
</div>
    <div class="text">
        <h1>تعليم متميز لبناء مجتمع معرفي منافس عالمياً</h1>
        <p>مهم : مستقبل التعلم عبر الانترنت و شهادات التعلم أون لاين</p>
        <p class="p">التعلم</p>
        <p>من أهم مواقع التعليم عن بعد وهي عبارة عن منصة للتعلم الإلكتروني أرخص بكثير من التعليم التقليدي. كرست يوداسيتي نفسها لجلب التعليم العالي إلى العالم بطرق فعالة يصعب الوصول إليها وبأسعار معقولة.

            تركز دوراتهم المصممة جيدًا والمختارة بشدة على التكنولوجيا. لذا فإن Udacity هي النظام الأساسي المناسب إذا كنت تفكر في العمل في مجال التكنولوجيا. من خلال العديد من الدورات التدريبية حول علوم البيانات و iOS و Android وتطوير الويب وهندسة البرمجيات </p>
    </div>
<div class="pho">
    <div class="photo">
        <h3>المعرض</h3>
        <div class="images">
            <div>
                <img src="images/ed.jpg" alt="">
            </div>
            <div>
                <img src="images/ed1.jpg" alt="">
            </div>
            <div>
                <img src="images/ed2.png" alt="">
            </div>
            <div>
                <img src="images/ed.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h2>نبذه</h2>
        <p>
            الأن أصبح من السهل تعلم شيء جديد، بسبب توفر العديد من البرامج والدورات التدريبية عبر الإنترنت. كما نجد الكثير من الناس لا يجدون الوقت للتسجيل في دورة جامعية (حضورياً) بدوام كامل لأسباب مختلفة. لهذا السبب أصبحت الدورات التدريبية عبر الإنترنت شائعة ومفيدة. الآن ، من خلال البحث السريع ، ستتمكن من العثور على فرص تعليمية لا نهاية لها. لكن المشكلة تكمن في أنك ستجد العديد من مواقع التعليم عن بعد عالية الجودة والتي تقدم دورات في جميع المجالات تقريباً.        </p>
    <h5>معلومات مفيده</h5>
    <ul>
        <li><a href="">info@info.com </a></li>
        <li><a href="">infomation@io.com</a></li>
        <li><a href="">form</a></li>
    </ul>
</div>
</body>
</html>
